/**
 * Fonts and styles
 */
body {
    font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
    font-size: 138.5%;
}

h2 {
    font-size: 123.1%;
}

h3 {
    font-size: 108%;
}


h4 {
    font-size: 100%;
}

ul {
    margin: .5em .5em .5em 2em;
}

#tabs.ui-tabs ul li {
    list-style-type: none;
}

/**
 * Set background color to address IE8 fading text bug
 */
.t11e-results {
    background-color: #FFFFFF;
}

.t11e-widget {
}

.t11e-widget .t11e-bd {
    padding: 0 .5em 0 .5em;
}

.t11e-hd h1 {
    margin: 0;
    padding: 0 0 .25em .25em;
}

.t11e-amount {
    margin-top: .5em;
}

.t11e-widget-jquery-results-loading {
    display: none;
    text-align: center;
    font-weight: bold;
    background-color: #999999;
    border: 1px solid #666666;
    color: #FFFFFF;
    padding: 1em;
}

.t11e-widget-jquery-results-bd .t11e-results p {
    margin-bottom: .25em;
}

.t11e-widget-jquery-results-bd .t11e-results ul {
    margin: 0;
    padding: 0;
}

.t11e-widget-jquery-results-bd .t11e-results li.t11e-results-row {
    font-size: 85%;
    margin: 2px;
    padding: .5em;
    float: left;
    width: 200px;
    height: 180px;
    border: 1px solid #999;
    list-style-type: none;
}

.t11e-widget .t11e-widget-jquery-button-bd {
    margin: 0 auto;
    text-align: center;
}
.t11e-widget .t11e-widget-jquery-button-bd a {
    margin: 0 auto;
    width: 100px;
    padding: .5em;
}

.t11e-widget .t11e-widget-jquery-faceted-slider-bd,
.t11e-widget .t11e-widget-jquery-faceted-dual-slider-bd {
    padding: 0 1em .5em .75em;
}

.t11e-widget .t11e-widget-jquery-dual-slider-bd {
    padding: 0 1em .5em .75em;
}

.t11e-widget .t11e-widget-jquery-select-bd {
    padding: 0 0 .5em .25em;
}

.t11e-widget-jquery-button-bd a {
    display: block;
}

.t11e-widget-jquery-pagination .pagination {
    font-size: 80%;
}

.t11e-widget-jquery-pagination .pagination a {
    text-decoration: none;
    border: solid 1px #AAE;
    color: #15B;
}

.t11e-widget-jquery-pagination .pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em !important;
    margin: 0 5px 5px 0;
}

.t11e-widget-jquery-pagination .pagination span.current {
    background: #26B;
    color: #fff;
    border: solid 1px #AAE;
}

.t11e-widget-jquery-pagination .pagination .current.prev, .pagination .current.next{
    color:#999;
    border-color:#999;
    background:#fff;
}

.t11e-widget-jquery-faceted-dual-slider-sparkline .t11e-bd {
    padding: .6em;
}

.t11e-widget-jquery-faceted-dual-slider-sparkline .t11e-sparkline {
    margin-bottom: 0;
}

.t11e-widget-jquery-faceted-dual-slider-sparkline .ui-slider .ui-slider-handle {
    background: transparent url(images/thumb-n.gif) no-repeat top center;
    border: 0;
    margin-left: -.6em;
    top: -.2em;
    width: 1.1em;
    height: 1.5em;
}

.t11e-widget-jquery-faceted-dual-slider-sparkline .ui-slider-horizontal {
    background-color: transparent;
    border: 0;
    /*margin: -.2em .2em 0 .2em;*/
    height: 1em;
}

.t11e-widget-jquery-faceted-dual-slider-sparkline .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 0;
}

.t11e-widget-jquery-faceted-dual-slider-sparkline .t11e-amount {
    margin-top: 1.2em;
}

.t11e-checkbox, .t11e-radio {
    position: relative;
}

/* input, label positioning */
.t11e-checkbox input, .t11e-radio input {
    position: absolute;
    left: 2px;
    top: 3px;
    margin: 0;
    z-index: 0;
}

/*
 * z-index is set higher than checkboxes/radio buttons
 * so that the labels hide them.
 */
.t11e-checkbox label,
.t11e-radio label {
    display: block;
    position: relative;
    z-index: 1;
    padding: .25em 0 .25em 30px;
    margin: 0 0 .3em;
    cursor: pointer;
}

label.ui-state-hover {

}

.t11e-checkbox label.ui-state-focus,
.t11e-radio label.ui-state-focus {
}

/**
 *  Image sprite placement that hides radio buttons and checkboxes
 */

.t11e-checkbox label {
    background: #ffffff url(images/checkbox.gif) no-repeat;
}

.t11e-radio label {
    background:#ffffff url(images/radiobutton.gif) no-repeat;
}

.t11e-checkbox label, .t11e-radio label {
    background-position: -10px -14px;
}

.t11e-checkbox label.ui-state-hover,
.t11e-checkbox label.ui-state-focus,
.t11e-radio label.ui-state-hover,
.t11e-radio label.ui-state-focus {
    background-position: -10px -114px;
}

.t11e-checkbox label.ui-state-checked,
.t11e-radio label.ui-state-checked {
    border: 1px solid black;
    background-position: -10px -214px;
}

.t11e-checkbox label.ui-state-checked-hover,
.t11e-checkbox label.ui-state-checked-focus {
    background-position: -10px -314px;
}
